# Fichier .gitlab-ci.yml - Partie 2 : Intégration de Terraform
# Objectif : Installer Terraform et exécuter les commandes de base (validate, plan) + vérifier l'existence d'un répertoire.

# Définition des stages
stages:
  - setup
  - iac_checks

# --- Job 1 : Vérification de l'existence d'un répertoire ---
check_dir_job:
  stage: setup
  image: alpine:latest
  script:
    - echo "Vérification de l'existence du répertoire 'exemple'..."
    # Utilise 'test -d' pour vérifier si le répertoire existe. Échoue sinon.
    - test -d exemple
    - echo "Répertoire 'exemple' trouvé."

# --- Job 2 : Installation de Terraform ---
install_tf_job:
  stage: setup
  image: ubuntu:latest
  before_script:
    - apt-get update -y && apt-get install -y wget unzip ca-certificates
    - update-ca-certificates
  script:
    - echo "Installation de Terraform (v1.14.3)..."
    - wget https://releases.hashicorp.com/terraform/1.14.3/terraform_1.14.3_linux_amd64.zip
    - unzip terraform_1.14.3_linux_amd64.zip
    - ./terraform version
  # Rendre l'exécutable Terraform disponible pour les jobs suivants
  artifacts:
    paths:
      - ./terraform
    expire_in: 1 hour

# --- Job 3 : Validation de la syntaxe Terraform ---
tf_validate_job:
  stage: iac_checks
  image: ubuntu:latest
  needs: ["install_tf_job"]
  before_script:
    - apt-get update -y && apt-get install -y ca-certificates
    - update-ca-certificates
  script:
    - export PATH=$PATH:$(pwd)  
    - echo "Exécution de 'terraform init'..."
    - terraform init
    - echo "Exécution de 'terraform validate'..."
    - terraform validate

# --- Job 4 : Initialisation et Planification ---
tf_plan_job:
  stage: iac_checks
  image: ubuntu:latest
  needs: ["install_tf_job","tf_validate_job"]
  before_script:
    - apt-get update -y && apt-get install -y ca-certificates
    - update-ca-certificates
  script:
    - export PATH=$PATH:$(pwd)
    - echo "Exécution de 'terraform init'..."
    - terraform init
    - echo "Exécution de 'terraform plan'..."
    - terraform plan
